<div class="container">

        <h1>flow image example</h1>
        <hr class="soften"/>

        <div>
                <div class="thumbnail" ng-hide="$flow.files.length">
                        <img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" />
                </div>
                <div class="thumbnail" ng-show="$flow.files.length">
                        <img flow-img="$flow.files[0]" />
                </div>
                <div>
                        <a onclick="return false" href="#" class="btn" ng-hide="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Select image</a>
                        <a href="#" class="btn" ng-show="$flow.files.length" flow-btn flow-attrs="{accept:'image/*'}">Change</a>
                        <a href="#" class="btn btn-danger" ng-show="$flow.files.length"
                           ng-click="$flow.cancel()">
                                Remove
                        </a>
                </div>
                <p>
                        Only PNG,GIF,JPG files allowed.
                </p>
        </div>
</div>
