
<header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
            <h3>Registration</h3>
        </div>
    </div>
</header>

<main class="mdl-layout__content mdl-color--grey-100" style="overflow: visible">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid" ng-controller="registerCtrl" ng-init="init()">

        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                <h2 class="mdl-card__title-text">Enter Email &amp; Password</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">

                <input class="mdl-textfield__input" style="display:inline;" type="text" id="email"
                       name="email" placeholder="Email" ng-model="email"/>

                <input class="mdl-textfield__input" style="display:inline;" type="text" id="name"
                       name="name" placeholder="Name" ng-model="name"/>

                <input class="mdl-textfield__input" style="display:inline;" type="password" id="password"
                       name="password" placeholder="Password" ng-model="password"/>
                <input class="mdl-textfield__input" style="display:inline;" type="file" id="avatar"
                       name="file" placeholder="Your avatar" ng-model="avatar" base-sixty-four-input/>
                <br/><br/>
                &nbsp;&nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-button--raised" name="signup" ng-click="register()">
                    Registration
                </button>

                <a href="#/login">Login</a>
                &nbsp;&nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-button--raised hidden" disabled
                        id="quickstart-verify-email"
                        name="verify-email">Send Email Verification
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-button--raised hidden" id="quickstart-password-reset"
                        name="verify-email">Send Password Reset Email
                </button>

                <!-- Container where we'll display the user details -->
                <div class="quickstart-user-details-container hidden">
                    Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
                    <div>Firebase auth <code>currentUser</code> object value:</div>
                    <pre><code id="quickstart-account-details">null</code></pre>
                </div>
            </div>
        </div>


        <div id="reg-true"
             class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop hidden">
            <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                <h2 class="mdl-card__title-text">Поздравляем</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <h1>Вы зарегистрировались</h1>
            </div>
        </div>

    </div>
</main>