<!-- Header section containing title -->
<header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
            <h3> Authentication</h3>
        </div>
    </div>
</header>


<div class="well"  ng-controller="chatCtrl" ng-init="init()">
    <form class="form-inline">
        Your name: <input type="text" ng-model="username">
    </form>
    <div ng-cloak ng-repeat="message in messages">
        <em>{{message.from}}: </em>{{message.content}}
    </div><br/>
    <form class="form-inline" ng-submit="addMessage()">
        <input type="text" ng-model="message" placeholder="Message...">
        <button class="btn" type="submit">
            <i class="icon-reply"> Send</i>
        </button>
    </form>
</div>
