<!-- Header section containing title -->
<header class="mdl-layout__header mdl-color-text--white mdl-color--light-blue-700">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">
        <div class="mdl-layout__header-row mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--8-col-desktop">
            <h3> Authentication</h3>
        </div>
    </div>
</header>


<main class="mdl-layout__content mdl-color--grey-100" style="overflow: visible">
    <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid" ng-controller="loginCtrl" ng-init="init()">

        <!-- Container for the demo -->
        <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
            <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                <h2 class="mdl-card__title-text">Email &amp; Password Authentication</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">

                <div ng-if="isLoginSuccess">Login success</div>

                <form name="myForm">
                    <div ng-if="myForm.email.$valid == false">Incorrect Email</div>
                    <input class="mdl-textfield__input" style="display:inline;width:auto;"  type="email" id="email"
                           name="email" placeholder="Email" ng-model="email" required/>
                    &nbsp;&nbsp;&nbsp;
                    <input class="mdl-textfield__input" style="display:inline;width:auto;" type="password" id="password"
                           name="password" placeholder="Password" ng-model="password"/>
                    <br/><br/>

                    <button class="mdl-button mdl-js-button mdl-button--raised" name="signup" ng-click="login()">
                        Login
                    </button>
                </form>

                <a href="#/registration">Register</a>
                &nbsp;&nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-button--raised hidden" disabled
                        id="quickstart-verify-email"
                        name="verify-email">Send Email Verification
                </button>
                &nbsp;&nbsp;&nbsp;
                <button class="mdl-button mdl-js-button mdl-button--raised hidden" id="quickstart-password-reset"
                        name="verify-email">Send Password Reset Email
                </button>

                <!-- Container where we'll display the user details -->
                <div class="quickstart-user-details-container hidden">
                    Firebase sign-in status: <span id="quickstart-sign-in-status">Unknown</span>
                    <div>Firebase auth <code>currentUser</code> object value:</div>
                    <pre><code id="quickstart-account-details">null</code></pre>
                </div>
            </div>
        </div>


        <div id="auth-true" class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop hidden">
            <div class="mdl-card__title mdl-color--light-blue-600 mdl-color-text--white">
                <h2 class="mdl-card__title-text">Поздравляем</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-color-text--grey-600">
                <h1>Вы авторизовались</h1>
            </div>
        </div>

    </div>
</main>

