<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<script src="https://use.fontawesome.com/45e03a14ce.js"></script>


<div class="container" ng-controller="mainCtrl">
    <br>
    <br>
    <div class="row" id="main">
        <div class="col-md-3 well" id="leftPanel">
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <img src="data:image/jpg;base64,{{avatar}}" alt="Avatar"
                             class="img-circle img-thumbnail">
                        <h2>{{username}}</h2>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua."</p>
                    </div>
                </div>
            </div>
            <nav class="left-menu navbar navbar-default sidebar" role="navigation">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Week Sweet<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-home"></span></a></li>
                            <li ><a href="#">Chat-room <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                            <li ><a href="#">Rule<span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-th-list"></span></a></li>
                            <li ><a href="#">Forum (bug fix) <span style="font-size:16px;" class="pull-right hidden-xs showopacity glyphicon glyphicon-tags"></span></a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="col-md-9 well" id="rightPanel">
            <div class="row">
                <div class="col-md-12">
                    <form role="form">
                        <h2>График дежурства
                            <small>It's always easy</small>
                        </h2>
                        <hr class="colorgraph">

                        <div class="table-responsive">
                            <div class="membership-pricing-table">
                                <table>
                                    <tbody>
                                    <tr>
                                        <th class="plan-header plan-header-blue">
                                            <div class="pricing-plan-name">FREE</div>
                                            <div class="pricing-plan-price">
                                                <sup>$</sup>0<span>.00</span>
                                            </div>
                                            <div class="pricing-plan-period">month</div>
                                        </th>
                                        <th class="plan-header plan-header-free">
                                            <div class="pricing-plan-name">BASIC</div>
                                            <div class="pricing-plan-price">
                                                <sup>$</sup>4<span>.99</span>
                                            </div>
                                            <div class="pricing-plan-period">month</div>
                                        </th>
                                        <th class="plan-header plan-header-blue">
                                            <div class="pricing-plan-name">PLUS</div>
                                            <div class="pricing-plan-price">
                                                <sup>$</sup>12<span>.95</span>
                                            </div>
                                            <div class="pricing-plan-period">month</div>
                                        </th>
                                        <th class="plan-header plan-header-standard">
                                            <div class="header-plan-inner">
                                                <!--<span class="plan-head"> </span>-->
                                                <span class="recommended-plan-ribbon">RECOMMENDED</span>
                                                <div class="pricing-plan-name">STANDARD</div>
                                                <div class="pricing-plan-price">
                                                    <sup>$</sup>34<span>.99</span>
                                                </div>
                                                <div class="pricing-plan-period">month</div>
                                            </div>
                                        </th>
                                        <th class="plan-header plan-header-blue">
                                            <div class="pricing-plan-name">PREMIUM</div>
                                            <div class="pricing-plan-price">
                                                <sup>$</sup>99<span>.99</span>
                                            </div>
                                            <div class="pricing-plan-period">month</div>
                                        </th>
                                    </tr>
                                    <tr>
                                        <td class="action-header">
                                            <a class="btn btn-info">
                                                Downgrade
                                            </a>
                                        </td>
                                        <td class="action-header">
                                            <a class="btn btn-info">
                                                Downgrade
                                            </a>
                                        </td>
                                        <td class="action-header">
                                            <div class="current-plan">
                                                <div class="with-date">Current Plan</div>
                                                <div><em class="smaller block">renews Feb 19, 2015</em></div>
                                            </div>
                                        </td>
                                        <td class="action-header">
                                            <a class="btn btn-success">
                                                Upgrade
                                            </a>
                                        </td>
                                        <td class="action-header">
                                            <a class="btn btn-info">
                                                Upgrade
                                            </a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td><span class="icon-no glyphicon glyphicon-remove-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                        <td><span class="icon-yes glyphicon glyphicon-ok-circle"></span></td>
                                    </tr>
                                    <tr>
                                        <td>20</td>
                                        <td>30</td>
                                        <td>50</td>
                                        <td>80</td>
                                        <td>200</td>
                                    </tr>
                                    <tr>
                                        <td>1</td>
                                        <td>5</td>
                                        <td>10</td>
                                        <td>20</td>
                                        <td>unlimited</td>
                                    </tr>
                                    </tbody></table>
                            </div>
                        </div>

                        <hr class="colorgraph">
                        <div class="row">
                            <div class="col-xs-12 col-md-6"></div>

                            <div class="col-xs-12 col-md-6">
                                <a href="#" class="btn btn-success btn-block btn-lg">Save</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!------------------------------------------------------------------->


<div class="main_section">
    <div class="container">
        <div class="chat_container">
            <div class="col-sm-3 chat_sidebar">
                <div class="row">
                    <div id="custom-search-input">
                        <div class="input-group col-md-12">
                            <input type="text" class="  search-query form-control" placeholder="Conversation"/>
                            <button class="btn btn-danger" type="button">
                                <span class=" glyphicon glyphicon-search"></span>
                            </button>
                        </div>
                    </div>
                    <div class="dropdown all_conversation">
                        <button class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-weixin" aria-hidden="true"></i>
                            All Conversations
                            <span class="caret pull-right"></span>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <li><a href="#"> All Conversation </a>
                                <ul class="sub_menu_ list-unstyled">
                                    <li><a href="#"> All Conversation </a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>
                    <div class="member_list">
                        <ul class="list-unstyled">
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right ">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body clearfix">
                                    <div class="header_sec">
                                        <strong class="primary-font">Jack Sparrow</strong> <strong class="pull-right">
                                        09:45AM</strong>
                                    </div>
                                    <div class="contact_sec">
                                        <strong class="primary-font">(123) 123-456</strong> <span
                                            class="badge pull-right">3</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!--chat_sidebar-->


            <div class="col-sm-9 message_section">
                <div class="row">
                    <div class="new_message_head">
                        <div class="pull-left">
                            <button><i class="fa fa-plus-square-o" aria-hidden="true"></i> New Message</button>
                        </div>
                        <div class="pull-right">
                            <div class="dropdown">
                                <button class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-cogs" aria-hidden="true"></i> Setting
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Profile</a></li>
                                    <li><a href="#">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!--new_message_head-->

                    <div class="chat_area">
                        <ul class="list-unstyled">
                            <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body1 clearfix">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                        old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                        Virginia.</p>
                                    <div class="chat_time pull-right">09:40PM</div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body1 clearfix">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                        old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                        Virginia.</p>
                                    <div class="chat_time pull-right">09:40PM</div>
                                </div>
                            </li>
                            <li class="left clearfix">
                     <span class="chat-img1 pull-left">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body1 clearfix">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                        old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                        Virginia.</p>
                                    <div class="chat_time pull-right">09:40PM</div>
                                </div>
                            </li>
                            <li class="left clearfix admin_chat">
                     <span class="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body1 clearfix">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                        old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                        Virginia.</p>
                                    <div class="chat_time pull-left">09:40PM</div>
                                </div>
                            </li>
                            <li class="left clearfix admin_chat">
                     <span class="chat-img1 pull-right">
                     <img src="https://lh6.googleusercontent.com/-y-MY2satK-E/AAAAAAAAAAI/AAAAAAAAAJU/ER_hFddBheQ/photo.jpg"
                          alt="User Avatar" class="img-circle">
                     </span>
                                <div class="chat-body1 clearfix">
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots
                                        in a piece of classical Latin literature from 45 BC, making it over 2000 years
                                        old. Richard McClintock, a Latin professor at Hampden-Sydney College in
                                        Virginia.</p>
                                    <div class="chat_time pull-left">09:40PM</div>
                                </div>
                            </li>


                        </ul>
                    </div><!--chat_area-->
                    <div class="message_write">
                        <textarea class="form-control" placeholder="type a message"></textarea>
                        <div class="clearfix"></div>
                        <div class="chat_bottom"><a href="#" class="pull-left upload_btn"><i class="fa fa-cloud-upload"
                                                                                             aria-hidden="true"></i>
                            Add Files</a>
                            <a href="#" class="pull-right btn btn-success">
                                Send</a></div>
                    </div>
                </div>
            </div> <!--message_section-->
        </div>
    </div>
</div>

<style>
    #custom-search-input {
        background: #e8e6e7 none repeat scroll 0 0;
        margin: 0;
        padding: 10px;
    }

    #custom-search-input .search-query {
        background: #fff none repeat scroll 0 0 !important;
        border-radius: 4px;
        height: 33px;
        margin-bottom: 0;
        padding-left: 7px;
        padding-right: 7px;
    }

    #custom-search-input button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: 0 none;
        border-radius: 3px;
        color: #666666;
        left: auto;
        margin-bottom: 0;
        margin-top: 7px;
        padding: 2px 5px;
        position: absolute;
        right: 0;
        z-index: 9999;
    }

    .search-query:focus + button {
        z-index: 3;
    }

    .all_conversation button {
        background: #f5f3f3 none repeat scroll 0 0;
        border: 1px solid #dddddd;
        height: 38px;
        text-align: left;
        width: 100%;
    }

    .all_conversation i {
        background: #e9e7e8 none repeat scroll 0 0;
        border-radius: 100px;
        color: #636363;
        font-size: 17px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        width: 30px;
    }

    .all_conversation .caret {
        bottom: 0;
        margin: auto;
        position: absolute;
        right: 15px;
        top: 0;
    }

    .all_conversation .dropdown-menu {
        background: #f5f3f3 none repeat scroll 0 0;
        border-radius: 0;
        margin-top: 0;
        padding: 0;
        width: 100%;
    }

    .all_conversation ul li {
        border-bottom: 1px solid #dddddd;
        line-height: normal;
        width: 100%;
    }

    .all_conversation ul li a:hover {
        background: #dddddd none repeat scroll 0 0;
        color: #333;
    }

    .all_conversation ul li a {
        color: #333;
        line-height: 30px;
        padding: 3px 20px;
    }

    .member_list .chat-body {
        margin-left: 47px;
        margin-top: 0;
    }

    .top_nav {
        overflow: visible;
    }

    .member_list .contact_sec {
        margin-top: 3px;
    }

    .member_list li {
        padding: 6px;
    }

    .member_list ul {
        border: 1px solid #dddddd;
    }

    .chat-img img {
        height: 34px;
        width: 34px;
    }

    .member_list li {
        border-bottom: 1px solid #dddddd;
        padding: 6px;
    }

    .member_list li:last-child {
        border-bottom: none;
    }

    .member_list {
        height: 380px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .sub_menu_ {
        background: #e8e6e7 none repeat scroll 0 0;
        left: 100%;
        max-width: 233px;
        position: absolute;
        width: 100%;
    }

    .sub_menu_ {
        background: #f5f3f3 none repeat scroll 0 0;
        border: 1px solid rgba(0, 0, 0, 0.15);
        display: none;
        left: 100%;
        margin-left: 0;
        max-width: 233px;
        position: absolute;
        top: 0;
        width: 100%;
    }

    .all_conversation ul li:hover .sub_menu_ {
        display: block;
    }

    .new_message_head button {
        background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
        border: medium none;
    }

    .new_message_head {
        background: #f5f3f3 none repeat scroll 0 0;
        float: left;
        font-size: 13px;
        font-weight: 600;
        padding: 18px 10px;
        width: 100%;
    }

    .message_section {
        border: 1px solid #dddddd;
    }

    .chat_area {
        float: left;
        height: 300px;
        overflow-x: hidden;
        overflow-y: auto;
        width: 100%;
    }

    .chat_area li {
        padding: 14px 14px 0;
    }

    .chat_area li .chat-img1 img {
        height: 40px;
        width: 40px;
    }

    .chat_area .chat-body1 {
        margin-left: 50px;
    }

    .chat-body1 p {
        background: #fbf9fa none repeat scroll 0 0;
        padding: 10px;
    }

    .chat_area .admin_chat .chat-body1 {
        margin-left: 0;
        margin-right: 50px;
    }

    .chat_area li:last-child {
        padding-bottom: 10px;
    }

    .message_write {
        background: #f5f3f3 none repeat scroll 0 0;
        float: left;
        padding: 15px;
        width: 100%;
    }

    .message_write textarea.form-control {
        height: 70px;
        padding: 10px;
    }

    .chat_bottom {
        float: left;
        margin-top: 13px;
        width: 100%;
    }

    .upload_btn {
        color: #777777;
    }

    .sub_menu_ > li a, .sub_menu_ > li {
        float: left;
        width: 100%;
    }

    .member_list li:hover {
        background: #428bca none repeat scroll 0 0;
        color: #fff;
        cursor: pointer;
    }






    /* ----- */



    #leftPanel{
        background-color: #3bb77e;
        color:#fff;
        text-align: center;
    }

    #rightPanel{
        min-height:415px;
    }

    #rightPanel.well,  #leftPanel.well{
        border-radius: 0;
    }

    /* Credit to bootsnipp.com for the css for the color graph */
    .colorgraph {
        height: 5px;
        border-top: 0;
        background: #c4e17f;
        border-radius: 5px;
        background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
        background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    }




    /*  menu */

    .main{
        padding: 10px 10px 0 10px;
    }

    .left-menu.navbar{
        border-radius:0;
    }

    @media (min-width: 992px) {

        /*.main{*/
            /*position: absolute;*/
            /*width: calc(100% - 40px);*/
            /*margin-left: 40px;*/
            /*float: right;*/
        /*}*/


        nav.sidebar.navbar.sidebar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
            margin-left: 0px;
        }

        nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
            text-align: center;
            width: 100%;
            margin-left: 0px;
        }

        nav.sidebar a{
            padding-right: 13px;
        }

        nav.sidebar .navbar-nav > li:first-child{
            border-top: 1px #e5e5e5 solid;
        }

        nav.sidebar .navbar-nav > li{
            border-bottom: 1px #e5e5e5 solid;
        }

        nav.sidebar .navbar-nav .open .dropdown-menu {
            position: static;
            float: none;
            width: auto;
            margin-top: 0;
            background-color: transparent;
            border: 0;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
            padding: 0 0px 0 0px;
        }

        .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
            color: #777;
        }

        nav.sidebar{
            width: 100%;
            height: 100%;
            margin-left: 0;
            float: left;
            margin-bottom: 0px;
        }

        nav.sidebar li {
            width: 100%;
        }

        nav.sidebar:hover{
            margin-left: 0px;
        }

        .forAnimate{
            opacity: 0;
        }
    }

    @media (min-width: 1330px) {

        .main{
            width: calc(100% - 200px);
            margin-left: 200px;
        }

        nav.sidebar{
            margin-left: 0px;
            float: left;
        }

        nav.sidebar .forAnimate{
            opacity: 1;
        }
    }

    nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
        color: #CCC;
        background-color: transparent;
    }

    nav:hover .forAnimate{
        opacity: 1;
    }
    section{
        padding-left: 15px;
    }




    /* Table */

    .membership-pricing-table {
        width: 100%;
    }

    .membership-pricing-table table .icon-no,.membership-pricing-table table .icon-yes {
        font-size: 22px
    }

    .membership-pricing-table table .icon-no {
        color: #a93717
    }

    .membership-pricing-table table .icon-yes {
        color: #209e61
    }

    .membership-pricing-table table .plan-header {
        text-align: center;
        font-size: 48px;
        border: 1px solid #e2e2e2;
        padding: 25px 0
    }

    .membership-pricing-table table .plan-header-free {
        background-color: #eee;
        color: #555
    }

    .membership-pricing-table table .plan-header-blue {
        color: #fff;
        background-color: #61a1d1;
        border-color: #3989c6
    }

    .membership-pricing-table table .plan-header-standard {
        color: #fff;
        background-color: #ff9317;
        border-color: #e37900
    }

    .membership-pricing-table table td {
        text-align: center;
        width: 15%;
        padding: 7px 10px;
        background-color: #fafafa;
        font-size: 14px;
        -webkit-box-shadow: 0 1px 0 #fff inset;
        box-shadow: 0 1px 0 #fff inset
    }

    .membership-pricing-table table,.membership-pricing-table table td {
        border: 1px solid #ebebeb
    }

    /*.membership-pricing-table table tr td:first-child {*/
        /*background-color: transparent;*/
        /*text-align: right;*/
        /*width: 24%*/
    /*}*/

    .membership-pricing-table table tr td:nth-child(5) {
        background-color: #FFF
    }

    .membership-pricing-table table tr:first-child td,.membership-pricing-table table tr:nth-child(2) td {
        -webkit-box-shadow: none;
        box-shadow: none
    }

    /*.membership-pricing-table table tr:first-child th:first-child {*/
        /*border-top-color: transparent;*/
        /*border-left-color: transparent;*/
        /*border-right-color: #e2e2e2*/
    /*}*/

    .membership-pricing-table table tr:first-child th .pricing-plan-name {
        font-size: 22px
    }

    .membership-pricing-table table tr:first-child th .pricing-plan-price {
        line-height: 35px
    }

    .membership-pricing-table table tr:first-child th .pricing-plan-price>sup {
        font-size: 45%
    }

    .membership-pricing-table table tr:first-child th .pricing-plan-price>span {
        font-size: 30%
    }

    .membership-pricing-table table tr:first-child th .pricing-plan-period {
        margin-top: -7px;
        font-size: 25%
    }

    .membership-pricing-table table .header-plan-inner {
        position: relative
    }

    .membership-pricing-table table .recommended-plan-ribbon {
        box-sizing: content-box;
        background-color: #dc3b5d;
        color: #FFF;
        position: absolute;
        padding: 3px 6px;
        font-size: 11px!important;
        font-weight: 500;
        left: -6px;
        top: -22px;
        z-index: 99;
        width: 100%;
        -webkit-box-shadow: 0 -1px #c2284c inset;
        box-shadow: 0 -1px #c2284c inset;
        text-shadow: 0 -1px #c2284c
    }

    .membership-pricing-table table .recommended-plan-ribbon:before {
        border: solid;
        border-color: #c2284c transparent;
        border-width: 6px 0 0 6px;
        bottom: -5px;
        content: "";
        left: 0;
        position: absolute;
        z-index: 90
    }

    .membership-pricing-table table .recommended-plan-ribbon:after {
        border: solid;
        border-color: #c2284c transparent;
        border-width: 6px 6px 0 0;
        bottom: -5px;
        content: "";
        right: 0;
        position: absolute;
        z-index: 90
    }

    .membership-pricing-table table .plan-head {
        box-sizing: content-box;
        background-color: #ff9c00;
        border: 1px solid #cf7300;
        position: absolute;
        top: -33px;
        left: -1px;
        height: 30px;
        width: 100%;
        border-bottom: none
    }
</style>
</body>
</html>